/* Tela de Registro */

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #ffffff;
  width: 40%;
  padding: 2rem;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

form input,
form select {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

form input:focus,
form select:focus {
  border-color: #457b9d;
  outline: none;
  box-shadow: 0 0 0 2px rgba(69, 123, 157, 0.2);
}

.button-add {
  padding: 0.75rem 1rem;
  background-color: #000000;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-add:hover {
  background-color: #3b3b3b;
}

.button-add:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

h1 {
  text-align: center;
  color: #283323;
  margin-bottom: 2rem;
}

/* Container para o input + mensagem de erro */
.form-group {
  width: 100%;
  margin-bottom: 15px; /* Ajuste o espaçamento conforme necessário */
  display: flex;
  flex-direction: column;
}

/* Estilo da mensagem de erro */
.error-message {
  color: #d93025; /* Vermelho */
  font-size: 0.8rem; /* Tamanho pequeno */
  margin-top: 4px; /* Espaço entre o input e o texto */
  margin-left: 2px;
  text-align: left; /* Alinha o texto à esquerda */
}

/* Opcional: Adicionar uma borda vermelha ao input com erro */
/* Para isso, você precisaria adicionar uma classe 'has-error' ao input via JS */
input.has-error {
  border-color: #d93025;
} 
